.contact {
  &__cont {
    &-wrap {
      display: flex;
      justify-content: space-around;
    }
  }
  &__btn {
    margin-left: 4px;
    margin-right: 4px;
    &-wrap {  
      display: flex;
      justify-content: space-around;
    }
  }
}